.find-friends-card {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: var(--border-box-shadow);
	height: 320px;
	margin: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	/* flex: 1; */
}

.find-friends-card button h6 {
	width: 100%;
}

.find-friends-card img {
	/* margin: 10px; */
	max-width: 214px;
	border-radius: 10px;
	width: 100%;
	/* object-fit: contain; */
}

.find-friends-card button h6 {
	color: var(--fb-button-text-blue-color);
}
.find-friends-card button:hover {
	background-color: var(--fb-button-light-hover-color);
}
.find-friends-card button:hover:active {
	background-color: var(--fb-button-light-hover-active-color);
}
.find-friends-card button picture img {
	width: 30px;
	height: 20px !important;
}

.find-friends-card h6 {
	margin: 0;
	color: white;
	font-size: 14px;
	letter-spacing: 0.5px;
}

.pending-request-banner {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 2px solid black; */
	margin-top: 80px;
	width: 100%;
	height: 5vh;
	border-radius: 8px;
	font-weight: 600;
	font-size: 1.3vw;
	color: rgb(70, 70, 70);
	opacity: 0%;
	transition: background-color 0.9s ease, opacity 0.5s ease;
}
.pending-request-banner.active {
	background-color: rgb(173, 173, 173);
	opacity: 100%;
	transition: background-color 0.1s ease, opacity 0.5s ease;
}

.button-withdraw {
	display: flex;
	align-items: center;
	border: none;
	background-color: var(--button-withdraw-color);
	border-radius: 6px;
	height: 30px;
	max-width: 200px;
	width: 100%;
	margin: 6px;
	cursor: pointer;
}
.button-withdraw:hover {
	background-color: var(--button-withdraw-hover-color) !important;
}

.button-accept-request {
	display: flex;
	align-items: center;
	border: none;
	background-color: rgba(82, 208, 82, 0.653);
	border-radius: 6px;
	height: 30px;
	max-width: 200px;
	width: 100%;
	margin: 6px;
	cursor: pointer;
}

.button-add-friend {
	display: flex;
	align-items: center;
	border: none;
	background-color: var(--fb-button-light-color);
	border-radius: 6px;
	height: 30px;
	max-width: 200px;
	width: 100%;
	margin: 6px;
	cursor: pointer;
}

.user-image {
	opacity: 50%;
}
