.friends-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid rgb(197, 197, 197);
	max-width: 400px;
	width: 100%;
	height: 120px;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

.friends-card img {
	/* margin: 10px; */
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.friends-card button {
	display: flex;
	align-items: center;
	border: none;
	background-color: var(--fb-primary-button-color);
	border-radius: 2px;
	color: white;
	padding: 5px;
	height: 30px;
}
.friends-card button picture img {
	width: 30px;
	height: 20px !important;
}

.friends-card h6 {
	margin: 0;
	color: white;
	font-size: 14px;
	letter-spacing: 0.5px;
}
