.friends-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: var(--border-box-shadow);
	height: 320px;
	margin: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	/* flex: 1; */
}

.friends-card button h6 {
	width: 100%;
}

.friends-card img {
	/* margin: 10px; */
	max-width: 214px;
	border-radius: 10px;
	width: 100%;
	/* object-fit: contain; */
}

.friends-card button {
	display: flex;
	align-items: center;
	border: none;
	background-color: var(--fb-button-light-color);
	border-radius: 6px;
	height: 30px;
	max-width: 200px;
	width: 100%;
	margin: 6px;
	cursor: pointer;
}
.friends-card button h6 {
	color: var(--fb-button-text-blue-color);
}
.friends-card button:hover {
	background-color: var(--fb-button-light-hover-color);
}
.friends-card button picture img {
	width: 30px;
	height: 20px !important;
}

.friends-card h6 {
	margin: 0;
	color: white;
	font-size: 14px;
	letter-spacing: 0.5px;
}
