:root {
	/* ______index.css______ */
	/* Dark Mode starts with --dark-XXX */
	--component-cards-color: #ffffff;
	--input-fields: #f0f2f5;
	--hover-effect-color: #e2e5e9;
	--font-color: #3d3d3e;
	--title-font-color: #080809;
	--notification-color: #dd2334;
	--online-indicator-color: #24832c;

	--dark-component-cards-color: #252728;
	--dark-input-fields-color: #333334;
	--dark-title-font-color: #e2e5e9;
	--dark-font-color: #dbdee2;
	--dark-notification-color: #dd2334;
	--dark-online-indicator-color: #3fbb46;

	/*General use*/
	--border-box-shadow: 0px 2px 4px rgb(0, 0, 0, 12%);
	--fb-button-light-color: #ebf5ff;
	--fb-button-light-hover-color: #dfe8f2;
	--fb-button-text-blue-color: #5c9cd3;

	/* ______App.css______ */
	--logo-color: #0866ff;
	--bg-color: #f2f4f7;
	--dark-bg-color: #1c1c1d;
}
