:root {
/* ______index.css______ */
/* Dark Mode starts with --dark-XXX */
--component-cards-color: #FFFFFF;
--input-fields: #F0F2F5;
--hover-effect-color: #E2E5E9;
--font-color: #3D3D3E;
--title-font-color: #080809;
--notification-color: #DD2334;
--online-indicator-color: #24832C;

--dark-component-cards-color: #252728;
--dark-input-fields-color: #333334;
--dark-title-font-color: #E2E5E9;
--dark-font-color: #DBDEE2;
--dark-notification-color: #DD2334;
--dark-online-indicator-color: #3FBB46;


/* ______App.css______ */
--logo-color: #0866FF;
--bg-color: #F2F4F7;
--dark-bg-color: #1C1C1D;

}
