.dropdown-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 1px 1px 5px rgb(193, 193, 193);
	max-width: 400px;
	width: 100%;
	padding: 12px;
	border-radius: 7px;
	overflow: hidden;
	background-color: white;
	z-index: 1000;
	position: absolute;
	top: 50px;
	right: 20px;
}

.dropdown-nav ul {
	margin: 0;
	padding: 0;
}

.dropdown-profile {
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	height: 70px;
	width: 100%;
	cursor: pointer;
}
.dropdown-profile:hover {
	background-color: #f2f2f2;
}

.dropdown-profile:active {
	background-color: #dddddd;
}
.dropdown-profile-pic {
}
.dropdown-profile-name {
	margin-left: 8px;
}

.sideBarToggle.isMobile {
	opacity: 100%;
}

.container-fluid {
	display: flex !important;
	flex-direction: row-reverse !important;
	flex-wrap: nowrap !important;
	padding: 0 !important;
}

.dropdown-link {
	display: flex;
	align-items: center;
	color: rgb(30, 30, 30);
	font-size: 20px;
	cursor: pointer;
	text-wrap: nowrap;
	text-decoration: none;
	margin: 10px;
	height: 40px;
	width: 100%;
}
.dropdown-button:hover {
	background: var(--fb-hover-link-color);
}
.dropdown-button:active {
	background: var(--fb-active-class-link-color);
}
.sideBar-link svg {
	color: rgb(71, 71, 71);
	height: 25px;
	width: 25px;
	margin-right: 5px;
}

.sideBar ul {
	margin: 0 10px 0px 6.4px;
}
.sideBar.collapsed {
	max-width: 24px !important;
}
.sideBar.collapsed:hover {
	opacity: 100%;
}

.sideBar li:hover {
	background-color: #f2f2f2;
}
.sideBar li.active {
	background-color: #dddddd;
}
.sideBar li.active:hover {
	background-color: #c3c3c3;
}

@media (max-width: 768px) {
	.sideBar {
		min-width: 196px;
	}
	.sideBar.collapsed {
		min-width: 24px !important;
	}
}

@media (max-width: 430px) {
	.sideBar {
		height: 86vh;
	}
}
@media (max-width: 210px) {
	.sideBar {
		min-width: 100%;
	}
}
