@import url(root.css);

/*
Index.css and Index.js is higher level than App.js and App.css.
That is why I chose to build my CSS in this file. It will trickle down the files.
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  margin: 0px;
}

/* I am starting with the smallest screen size -- Im thinking global reach for Androids in 3rd world countries*/
@media screen and (min-width: 1024px) {
  #navBar {
    display: grid;
    /* WIP: Set up placement in the navbar and place certain components to grid placements
    The components on the side of the screen can bleed over closer to the middle --use fb as reference.
    */
    grid-template-columns: 1fr 41% 1fr;
    grid-template-areas: 'search nav-buttons settings';
    width: 100%;
    height: 56px;
    background-color: var(#ffffff);
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 12%);
    }
  .logo {
    /* Keep the components in a flex format*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  }
  .navButtons-mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 110px;
    padding-right: 110px; */
    grid-area: nav-buttons;
    padding: 5px;
  }
  .links-mid {
    width: 6.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 8px;
  }
  .links-mid:hover {
    background-color: #F2F2F2;
  }
  .navButtons-right {
    grid-area: settings;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: auto;
  }
  .settings-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 100%;
  }
  .links-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
    margin-left: 5px;
    margin-right: 5px;
  }
  .bg {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 75%;
    background-color: rgb(225, 225, 225);
    border-radius: 100px;
    margin: 5px;
  }
  .bg:hover {
    background-color: #c6c6c6;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'pages newsfeed online';
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--component-cards-color);

  }
  .title {
    grid-area: newsfeed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 12%);
  }
}
