:root {
	/* ______index.css______ */
	/* Dark Mode starts with --dark-XXX */
	--component-cards-color: #ffffff;
	--input-fields: #f0f2f5;
	--hover-effect-color: #e2e5e9;
	--font-color: #3d3d3e;
	--title-font-color: #080809;
	--notification-color: #dd2334;
	--online-indicator-color: #24832c;

	--fb-primary-text-color: #080809;
	--fb-primary-button-color: #0866ff;
	--fb-primary-button-hover-color: #0064d1;

	--dark-component-cards-color: #252728;
	--dark-input-fields-color: #333334;
	--dark-title-font-color: #e2e5e9;
	--dark-font-color: #dbdee2;
	--dark-notification-color: #dd2334;
	--dark-online-indicator-color: #3fbb46;

	/* ______App.css______ */
	--fb-logo: #0866ff;
	--bg-color: #f8f9fb;
	--dark-bg-color: #1c1c1d;
}
